################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

**/.vscode**
**/build**
**/CMakeUserPresets.json
.idea/
